:root {
    /* blue */
    --brand-color-1: #E4D089; 
    /* yellow */
    --brand-color-2: #00375e;

    --background: #253339;

    --background-dark: #131516;

    --box-border: 1px solid rgba(139, 240, 255, 0.179);
}


.brandColor1 {
    color: var(--brand-color-1);
}
.brandColor2 {
    color: var(--brand-color-2);
}

.lightText {
    color: #fff;
}
.darkText {
    color: #000;
}